# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Oo]ut/
# VS
/.vs
/vcpkg_installed
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
vcpkg-manifest-install.log
*.ipch
*.db
# CMAKE
*.cmake
CMakeCache.txt
**/CMakeFiles
/doxygen
/DefaultAssets/Tex/UI/2025-05_SushiBar (2).png
/DefaultAssets/Tex/UI/2025-05_Sushi_1.png
/DefaultAssets/Tex/UI/2025-05_Sushi_3.png
/DefaultAssets/Tex/UI/4.png
/DefaultAssets/Tex/UI/IMG_1906.png
/DefaultAssets/Tex/UI/NCR-removebg-preview (1).png
/DefaultAssets/Tex/UI/pythonLogo.png
